.fondo{
	background-color: #99b5b9;
	height: 500%;
}
.btnGuardar, .glyphicon-remove, .well, .btnGuardarTarjeta, .inputLista{
	color: white; 	
}
.btnGuardar, .btnGuardarTarjeta{
	border-radius: 5px 5px;
	border: none;
	padding: .5% 2%;	
	margin: 2% 0%;	
}
.btnGuardar{
	background-color: #b8ded3;
} 
.glyphicon-remove{
	margin: 2% 2%;
}
input, .listaHecha {
	border-radius: 5px 5px;
	border: solid 1px grey;
}
.listaHecha{
	float: left;
	font-family: 'Dosis', sans-serif;
}
.inputNuevaLista, .inputNuevaTarjeta {
	display: block;
}
.well {
	background-color: #d9baa6;
	font-family: 'Lobster', cursive;
}
.inputLista, .h3Tarjeta {
	text-decoration: underline;
} 
.inputLista {
	background-color: transparent;
	margin-left: 2%;
	border: none;
}
.btnGuardarTarjeta {
	background-color: #99b5b9;	
}
.listaHecha {
	background-color: #d9baa6;
	width: 17%;
	margin: 2.5% 1.5% 0% 0%;
}
.h3Tarjeta{
	font-size: 200%;
	color: #de6455;
	text-align: center;	
	margin-top: 0%;
}
.scroll{
	overflow-x: scroll;
	height: 580px;
	white-space: nowrap;
}